<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leden</title>
    <link rel="stylesheet" th:href="@{/css/profiles.css}">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="content">
    <div class="filter-and-navigation">
        <form th:action="@{|/admin/profiles/filter/0|}">
            <div class="input-container input-container-text">
                <label for="email">Email:</label>
                <input class="text-input" id="email" name="email" type="text" th:value="${param.email}">
            </div>
            <div class="input-container input-container-text">
                <label for="firstname">Voornaam:</label>
                <input class="text-input" id="firstname" name="firstName" type="text" th:value="${param.firstName}">
            </div>
            <div class="input-container input-container-text">
                <label for="lastname">Achternaam:</label>
                <input class="text-input" id="lastname" name="lastName" type="text" th:value="${param.lastName}">
            </div>
            <div class="input-container input-container-checkbox">
                <label for="isnew">Alleen nieuwe leden zonder eerste afspraak:</label>
                <input id="isnew" name="isNew" type="checkbox" th:checked="${filter != null && filter.getIsNew() != null}">
            </div>
            <div class="input-container input-container-button">
                <input class="submit-button" type="submit" value="Zoeken">
            </div>
        </form>
        <div class="profile-page-navigation">
            <a class="page-navigation-previous" th:if="${filter == null && page > 0}" th:href="@{|/admin/profiles/${page - 1}|}">&lt;</a>
            <a class="page-navigation-next" th:if="${filter == null && nextPageHasContent}" th:href="@{|/admin/profiles/${page + 1}|}">&gt;</a>
            <a class="page-navigation-previous" th:if="${filter != null && page > 0}" th:href="@{|/admin/profiles/filter/${page - 1}?email=${filter.email}&firstName=${filter.firstName}&lastName=${filter.lastName}&isNew=${filter.isNew}|}">&lt;</a>
            <a class="page-navigation-next" th:if="${filter != null && nextPageHasContent}" th:href="@{|/admin/profiles/filter/${page + 1}?email=${filter.email}&firstName=${filter.firstName}&lastName=${filter.lastName}&isNew=${filter.isNew}|}">&gt;</a>

        </div>
    </div>
    <div class="profiles-list">
        <a class="profile-entry" th:each="profile: ${profiles}" th:href="${'/admin/profile/' + profile.id}">
            <img th:if="${profile.getPathToProfilePicture != null}" class="profile-entry-left-side"
                 th:src="${profile.getPathToProfilePicture}" alt="Profile Picture">
            <p th:unless="${profile.getPathToProfilePicture != null}" class="profile-entry-left-side"
               th:text="${profile.getFirstName().substring(0, 1) + profile.getLastName().substring(0, 1)}"></p>
            <p class="profile-entry-right-side" th:text="${profile.getUser().getEmail()}"></p>
            <p class="profile-entry-right-side" th:text="${profile.getFirstName() + ' ' + profile.getLastName()}"></p>
        </a>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>