<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
</head>
<body>
<form th:action="@{|/user/login|}" method="post" >
    <div>
        <div>
            <label for="username">Username: </label>
            <input id="username" name="username" type="text">
        </div>
        <div>
            <label for="password">Password: </label>
            <input id="password" name="password" type="password">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </div>
</form>
<div th:if="${param.error != null}">Incorrect credentials.</div>
</body>
</html>