<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all"
      th:href="@{/css/register.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="content">
    <div class="form_container">
        <p class="title">SCHRIJF JE IN</p>
        <form th:action="@{|/user/register|}" method="post" enctype="multipart/form-data">
            <div class="input_container">
                <label for="first_name">Voornaam:</label>
                <input class="text_input" id="first_name" name="firstName" type="text" placeholder="Voornaam">
            </div>
            <div class="input_container">
                <label for="last_name">Achternaam:</label>
                <input class="text_input" id="last_name" name="lastName" type="text" placeholder="Achternaam">
            </div>
            <div class="input_container">
                <label for="email">Email:</label>
                <input class="text_input" id="email" name="email" type="text" placeholder="Email">
            </div>
            <div class="input_container">
                <label for="password">Wachtwoord:</label>
                <input class="text_input" id="password" name="password" type="password" placeholder="Wachtwoord">
            </div>
            <div class="input_container">
                <label for="experience">Heb je ervaring in een van de diciplines? (Dans, zang, acteren, podiumkunsten,
                    casting techniques): </label>
                <textarea class="text_input" id="experience" name="experience" type="text"></textarea>
            </div>
            <div class="input_container submit_container">
                <input class="submit_button" type="submit" value="INSCHRIJVEN">
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>