<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/authentication.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="content">
    <div class="dialog_container">
        <p class="dialog_title">EERSTE AFSPRAAK</p>
        <div class="dialog_content">
            <form class="form_login" th:action="@{|/user/register|}" method="post" enctype="multipart/form-data">
                <div class="input_container">
                    <label for="first_name">Voornaam:</label>
                    <input class="text_input" id="first_name" name="firstName" type="text" placeholder="Voornaam" required>
                </div>
                <div class="input_container">
                    <label for="last_name">Achternaam:</label>
                    <input class="text_input" id="last_name" name="lastName" type="text" placeholder="Achternaam" required>
                </div>
                <div class="input_container">
                    <label for="email">Email:</label>
                    <input class="text_input" id="email" name="email" type="email" placeholder="Email" required>
                </div>
                <div class="input_container">
                    <label for="password">Wachtwoord:</label>
                    <input class="text_input" id="password" name="password" type="password" placeholder="Wachtwoord" required>
                </div>
                <div class="input_container">
                    <label for="experience">Heb je ervaring in een van de disciplines? (Dans, zang, acteren, podiumkunsten,
                        casting techniques): </label>
                    <textarea class="text_input" id="experience" name="experience" type="text" maxlength="250"></textarea>
                </div>
                <div class="input_container submit_container">
                    <input class="submit_button" type="submit" value="AFSPRAAK MAKEN">
                </div>
                <p class="form_error" th:if="${param.error != null}">Oops! Er ging iets mis. Heb je alle velden ingevuld?</p>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>