<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success!</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/authentication.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="content">
    <div class="dialog_container">
        <p class="dialog_title">Klaar!</p>
        <div class="dialog_content">
            <p class="dialog_text">We zullen je zo snel mogelijk contacteren via email voor een afspraak.</p>
            <a class="dialog_button_confirm" th:href="|@{/myProfile}|">Ga naar je profiel</a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>