<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/stylesheet.css}" href="/css/stylesheet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<footer>

<div class="footer-content">
    <div class="verticalLine"></div>
    <div class="verticalLine2"></div>
    <div class="verticalLine3"></div>
    <h3>Contact</h3>
    <p>lmtsacademt.thomasmore@gmail.com <br> OR FOLLOW US ON:</p>
    <ul class="socials">
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="fa fa-instagram"></a></li>
    </ul>
</div>
</footer>
</body>
</html>