<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>backgroundfragment</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/header.css}" href="/static/css/header.css"/>
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script>
    function toggleButton(){
        let x = document.getElementsByClassName("alignleft");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<body>
<div class="nav">
            <span></span>
            <span></span>
            <span></span>
    <ul class="alignleft">
        <li class="home"><a class="nav-link" th:href="@{/home}">Home</a></li>
        <li class="contact"><a class="nav-link" th:href="@{/courselist}">Cursussen</a></li>
    </ul>
    <div class="aligncenter">
        <img class="logoNav" th:src="@{/pictures/LMTSLogo.png}"/>
    </div>
    <ul class="alignright">
        <li sec:authorize="isAnonymous()" class="header_login"><a class="nav-link"
                                                                  th:href="@{/user/login}">Login</a></li>
        <li sec:authorize="isAnonymous()" class="header_login"><a class="nav-link" th:href="@{/user/register}">Maak een afspraak</a></li>
        <li sec:authorize="isAuthenticated()" class="header_logout"><a class="nav-link"
                                                                       th:href="@{/user/logout}">Logout</a>
        </li>
    </ul>
</div>
</body>
</html>