<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>backgroundfragment</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/stylesheet.css}" href="/css/stylesheet.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
</head>
<body class="parent" th:fragment="background">
<div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
</div>
<div class="row">
    <div class="nav">
        <ul>
            <li class="home"><a class="nav-link" th:href="@{/home}">Home</a></li>
            <li class="tutorials"><a class="nav-link" th:href="@{/home}">Test</a></li>
            <img th:src="@{/pictures/LMTSLogo.png}"/>
            <li class="news"><a class="nav-link" th:href="@{/home}">Test</a></li>
            <li class="contact"><a class="nav-link" th:href="@{/home}">Test</a></li>
            <li sec:authorize="isAnonymous()" class="header_login"><a class="nav-link" th:href="@{/user/login}">Login</a></li>
            <li sec:authorize="isAuthenticated()" class="header_logout"><a class="nav-link" th:href="@{/user/logout}">Logout</a></li>

        </ul>
    </div>
</div>
</body>
</html>