:root {
    --dialog-width: 50rem;
}

body {
    background-color: #52878c !important;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
}

.dialog_container {
    max-width: 100%;
}

.dialog_title {
    font-family: bebas-neue, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 4rem;
    line-height: 2.7rem;
}

.dialog_content {
    position: relative; /* for decoration */
    background-color: white;
    width: var(--dialog-width);
    max-width: 100%;
    padding: 2rem 2rem;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.form_login > * {
    display: flex;
    flex-direction: column;
}

.input_container input, .input_container textarea {
    padding: .5rem;
}

.text_input {
    border: 1px solid rgb(118, 118, 118);
    border-radius: 4px;
}

.text_input:focus {
    border: 1px solid #ea95e8;
    outline: 1px solid #ea95e8;
}

.input_container label, .submit_button {
    font-size: 20px;
    font-family: bebas-neue, sans-serif;
}

.input_container textarea {
    resize: vertical;
}

.submit_button {
    color: white;
    background-color: #ea95e8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.submit_button:hover {
    background-color: #d688d5;
}

.submit_button:active {
    background-color: #ca80c9;
}

.submit_button:focus {
    outline: 2px solid #e2ef8d;
}

.form_error {
    color: #ED4337;
}

@media only screen and (min-width: 50rem) { /* dialog width */
    .dialog_title {
        font-size: 5rem;
        line-height: 3.40rem;
        text-align: start;
        margin: 0 0 0 1.5rem;
    }

    .dialog_content::after {
        position: absolute; /* element now ignored by flexbox parent */
        content: '';
        height: 100%;
        width: 100%;
        border: 1px solid white;
        background-color: transparent;
        left: -20px;
        bottom: -20px;
        z-index: -1;
    }
}