.container {
    font-family:sans-serif;
    max-width:500px;
    margin:0 auto;
}
select {
    border:none;
    max-width: 80px;!important;
    padding: 5px;
    border-radius: none;
    background: #FFF;
}
.filter {
    display:block;
    float:none;
    clear:both;
    width:auto;
    height:120px;
    background:#EEE;
    /*padding:20px 5%;*/
    /*margin:20px;*/
}
.col-md-2 {float:left;width:24%;}
.button--reset {
    float: right;
    clear: both;
    margin:10px 0;
    border:none !important;
    background: #FFF;
    padding:10px;
    font-family: sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color:#333;
    cursor: pointer;
}
.button--reset:hover {
    background: #333;
    color:#FFF;
}

.ngos, .filtr-item {
    width: 70px;
    height: 70px;
    margin: 5px;
    float: left;
    line-height:70px;
    font-size:12px;
    text-align:center;
    color:#FFF;
}
.zone filter .clearfix{
    font-size:small;!important;
}
.filterContainer{
    background:#EEE;

}
#employeeId{
    width: auto;
    margin-left: 20px;
}
.filters{
max-width: 300px;
    max-height: 400px;
margin: 50px}
.courseContainer{
    margin: 20px;
}