.notification_container {
    text-decoration: none;
}

.notification_content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    background-color: #ea95e8;
    text-align: center;
    margin: 0;


    color: white;
    font-family: bebas-neue, sans-serif;
    font-size: 1.5rem;
}