#navbar * {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    z-index: 100;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    background-color: white;
    /*box-shadow: 0 -15px 30px 22px rgba(0,0,0,0.8);*/
    /*box-shadow: 0 -15px 30px 35px rgba(0,0,0,0.45);*/
    /*box-shadow: 0 -7px 20px 20px rgba(0,0,0,0.6);*/
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.4)
}


#navbar-expander {
    display: inline-block;
    user-select: none;
    font-size: 2rem;
    margin-left: .5rem;
    width: 3rem;
    height: 3rem;
}

#navbar-items {
    display: none;
    /*display: grid;*/
    gap: .7rem;
    justify-items: center;
    padding-bottom: 1rem;
}

#navbar-left, #navbar-right {
    display: grid;
    justify-items: center;
    gap: .7rem;
}

#navbar-left a, #navbar-right a {
    font-family: bebas-neue, sans-serif;
    font-size: 1.6rem;
    color: black;
    position: relative;
}

#navbar-center {
    grid-row: 1;
}

@media (min-width: 78rem) {
    #navbar {
        position: static;
        height: 97px; /* LMTS Logo height */
    }

    #navbar-expander {
        display: none;
    }

    #navbar-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: stretch;
        padding-bottom: 0;
    }

    #navbar-center {
        display: grid;
        place-items: center;
        grid-column: 2;
    }

    #navbar-left {
        display: flex;
        justify-content: flex-end;
        gap: 5rem;
    }

    #navbar-right {
        display: flex;
        justify-content: flex-end;
        padding-right: 5rem;
        gap: 5rem;
    }

    #navbar-left a, #navbar-right a {
        font-size: 1.4rem;
    }

    #navbar-left li a:after, #navbar-right li a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #EB95E7;
        transform-origin: bottom;
        transition: transform 0.40s ease-out;
        z-index: 102;
    }

    #navbar-left li a:hover:after, #navbar-right li a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom;
    }
}