#nav {
    display: flex;
    flex-flow: row wrap;
}

#nav ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

#nav li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

#nav a {
    text-decoration: none;
    color: white;
    font-family: bebas-neue, sans-serif;
}

.alignleft {
    width: 33.33%;
    text-align: right;
    color: black;
}

.aligncenter {
    width: 33.33%;
    text-align: center;
}

.alignright {
    width: 33.33%;
    text-align: right;
}

.logoMobile {
    display: none;
}

#btn-me {
    display: none;
}

@media (max-width: 1250px) {
    #nav {
        margin-top: 20px;
        display: none;
        background-color: black;
    }


    #nav a {
        text-decoration: none;
        color: white;
        font-family: bebas-neue, sans-serif;
    }

    #nav li{
        margin-top: 0;
    }

    #btn-me {
        display: block;
        width: 50%;
        margin: 50px auto 0;
        background: #E2ED8C;
        font-family: bebas-neue, sans-serif;
        font-size: 25px;
        border-radius: 20px;
        border-color: white;
    }

    .logoMobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .logoNavFullscreen {
        display: none;
    }

    .alignleft {
        width: 100%;
        text-align: center;
    }

    .alignright {
        width: 100%;
        text-align: center;
    }

    .burgerSign {
        display: flex;
        flex-direction: column;
        width: 70px;
        text-align: left;
        border: 4px white solid;
        padding: 5px;
        border-radius: 10px;
        margin: 10px;
        background: black;
    }

    .burgerSign span {
        background: #fff;
        border-radius: 10px;
        height: 7px;
        margin: 7px 0;
    }

    span:nth-of-type(1) {
        width: 50%;
    }

    span:nth-of-type(2) {
        width: 100%;
    }


    span:nth-of-type(3) {
        width: 75%;
    }
}



