.myProfileBasics {
    background: #E2ED8C;
    padding: 20px;
    margin: 10px;
    border-radius: 10%;
    border: white 5px solid;
}

input {
    border: 0;
    text-align: center;
}

.h2Profile {
    font-family: bebas-neue, sans-serif;
    margin-top: 30px;
    text-decoration: underline #EB95E7;
}

.editProfile_button {
    float: right;
    background: white;
    font-family: bebas-neue, sans-serif;
    font-size: 25px;
    border-radius: 20px;
    border-color: white;
    margin: 20px;
    padding: 5px;
}