body {
    background-color: #52878c !important;
    margin: 0;
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content {
    margin: 5rem 0;
}

.content p {
    margin: 0; /* Bootstrap moment */
}

.profiles-list {
    display: grid;
    max-width: 100%;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 100%);
    grid-gap: 1rem;
    justify-content: center;
}

.profile-entry {
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: 2.5rem 2.5rem;
    background-color: white;
    align-items: center;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
}

.profile-entry-picture {
    width: 100%;
    height: 100%;
    grid-row: span 2;
}

.profile-entry p {
    margin-left: 1rem;
}

@media only screen and (min-width: 32rem) {
    .content {
        margin: 5rem 2rem;
    }

    .profiles-list {
        grid-template-columns: repeat(auto-fit, 28rem);
    }
}