body, html {
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;

    background-color: #52878c;
}

#content {
    display: grid;
    place-items: center;

    margin: 6em 0;
}

#content p, #content h2 {
    margin: 0;
}

.profile-container {
    width: 100%;
    max-width: 78rem;
}

.title {
    font-family: bebas-neue, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 4rem;
    line-height: 2.8rem;
}

.profile-details {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 2rem;

    /*padding: 2rem;*/

    background-color: white;
}

.profile-details-entry {
    display: grid;
    /*justify-items: center;*/
    gap: 2rem;
}

.profile-details-entry.text {
    padding-left: 2rem;
}

.profile-details-entry.padding-bottom {
    padding-bottom: 2rem;
}

.profile-details section h2 {
    padding-bottom: 1rem;

    font-size: 2rem;
    font-family: bebas-neue, sans-serif;
    font-weight: bold;
    text-decoration: underline #EB95E7;
}

.profile-details-content {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(auto, 12rem));*/
    gap: .5rem;
}

.profile-picture-container {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 5%);
}

.profile-data-name {
    font-size: 1.25rem;
    font-family: bebas-neue, sans-serif;
}

.profile-picture {
    display: grid;
    place-items: center;
    justify-self: center;

    width: 12rem;
    height: 12rem;
    font-family: bebas-neue, sans-serif;
    font-size: 4rem;
    background-color: #ea95e8;
    border-radius: 100%;
}

.button-container {
    display: inline-grid;
    padding-left: 2rem;
}

.button {
    display: grid;
    place-items: center;
    height: 2.5rem;
    width: fit-content;
    padding: 0 2rem;

    color: white;
    background-color: #ea95e8;
    border: none;
    border-radius: 4px;
    font-family: bebas-neue, sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
}

.toggle-enabled-button.disable {
    background-color: #ed4337;
}

.toggle-enabled-button.enable {
    background-color: #5cb85c;
}

.button:hover {
    color: white;
    background-color: #d688d5;
}

.button:active {
    background-color: #ca80c9;
}

.button:focus {
    outline: 2px solid #e2ef8d;
}

.toggle-enabled-button.disable:hover {
    background-color: #d73f34;
}

.toggle-enabled-button.enable:hover {
    background-color: #53a453;
}

.hidden {
    display: none;
}

@media (min-width: 43rem) {
    .title {
        font-size: 5rem;
        line-height: 3.40rem;
        text-align: start;
        margin-left: 2rem;
    }

    .profile-details {
        grid-template-columns: 16rem auto;
    }

    .profile-details-entry.text {
        grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
        padding-right: 2rem;
        padding-left: 0;
    }

    .profile-picture-container {
        grid-row: 1 / -1;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        align-items: start;
        align-content: start;
    }

    .padding-top {
        padding: 2rem 0 0 0;
    }

    .button-container {
        grid-template-columns: auto auto;
        justify-content: start;
        padding-left: 0;
    }
}