@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

html {
    overflow-x: hidden;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: #619095;
}

.main {
    flex-grow: 1;
}

@keyframes flying {
    0% {
        bottom: -10%;
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        bottom: 100%;
        transform: translateX(-300px);
    }
}

h1 {
    text-align: center;
    color: white;
    font-family: bebas-neue, sans-serif;
    margin-top: 50px !important;
}

h2.titleOurTeam {
    font-family: bebas-neue, sans-serif;
    font-size: 3em;
    color: white;
    margin-top: 50px !important;
    margin-left: 40px;
    text-decoration: underline #EB95E7;
}

/*Homepage*/
.textHomepage {
    background-color: white;
    padding: 10px;
    position: relative;
    margin-left: 20px;
    font-family: Consolas, monaco, monospace;
    font-weight: 500;
    max-width: 90%;
    font-size: 1.15em;
}

.textVision {
    color: white;
    font-family: Consolas, monaco, monospace;
    font-size: 20px;
    margin: 30px;
    text-align: center;
    height: 250px;
}

.textHomepage:after {
    content: '';
    background: transparent;
    border: 1px solid white;
    top: 7px;
    right: 30%;
    bottom: -20px;
    left: -10px;
    position: absolute;
    z-index: -1;
}

.teamContainer {
    justify-content: center;
    padding: 20px;
    background: white;
    margin-bottom: 50px;
}

.teamMember {
    text-align: center;
    background: #E2ED8C;
   margin-right: 75px;
    margin-left: 75px;
    padding: 5px 5px;
    border: 5px solid #619095;
    border-radius: 5px;

}

.teamMemberName {
    transform: rotate(-90deg);
    position: absolute;
    margin-top: 50px;
    padding-bottom: 20px;
    color: #619095;
    font-family: bebas-neue, sans-serif;
}
.memberBio {
    font-size: 1em;
    font-family: Consolas, monaco, monospace;

}

.imgTeam {
    width: 100%;
    margin: 10px;
}

.imgLogoPink {
    width: 15em;

}
.test{
    background: linear-gradient(
    to right,black 50%,#619095
    );
    margin-bottom: 50px;
}
/* cursus*/
.courseContainer {
    justify-content: center;
}

.cursusInfo {
    max-width: 80%;
    padding: 1rem;
    color: white;
    border-width: 4px;
    margin: auto;
    border-style: solid;
    border-image: linear-gradient(
            to bottom,
            #E2ED8C,
            rgba(0, 0, 0, 0)
    ) 1 100%;
}


.infoName {
    margin: 10px;
    font-size: 2em;
}
.infoValue{
    margin: 10px;
    font-size: 1.2em;
}
.courselistitem {
    border: 5px solid white;
    text-align: center;
    background: #E2ED8C;
    margin: 10px;
    padding: 5px 5px;
    width: 140px;
    height: 100%;
    display: inline-block;
    border-radius: 10% 0;
}

.courselistitem a {
    text-decoration: none;
    font-family: bebas-neue, sans-serif;
    font-size: 2em;
    color: green;
}

.edit_button {
    text-decoration: none;
    color: white;
    background-color: #ea95e8;
    border: none;
    border-radius: 4px;
    cursor:pointer;
}
.edit_button:hover {
    background-color: #d688d5;
}

.edit_button:active {
    background-color: #ca80c9;
}

.edit_button:focus {
    outline: 2px solid #e2ef8d;
}
.errorblock{
    margin-left: 25%;
    max-width: 50%;
    margin-top: 20px;
    border: 5px solid white;
}
.prevButtonDiv {
    position: fixed;
    left: 0.5%;
    top: 160px;
}

.nextButtonDiv {
    position: fixed;
    right: 5%;
    top: 160px;

}
.buttonLook {
    background-color: #EB95E7;
    color: #6A8E7F;
    border-radius: 50px 20px 0 20px;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
}

.buttonLook:hover {
    background-color: #a4caf3;
    color: black;
    box-shadow: 3px 4px 5px darkgrey;
}

.buttonLook:active {
    background-color: #a4caf3;
    color: #EDC7CF;
}
a.smallButton {
    display: block;
    font-size: 1em;
    padding: 0.5em;
}
.filterButton {
    margin: 20px 0;
    padding: .5em;
    border: none;
    font-size: medium;
}
.filtername {
    width: 10em;
    text-decoration: underline #EB95E7;
}
.video{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
   background: #619095;
    padding: 20px;
    border: white 1px solid;
}




.fotoCarousel{
    width: 100%;
    margin:auto;
}
.carouselContainer{
    margin: auto 0 auto 0;
    background: #e2ef8d;
    padding: 20px;
}
.rowOurTeam{
    margin-bottom: 50px;
}
.imgTeamPic{
    width: 80%;
}
@media (max-width: 1000px) {
    .imgLogoPink{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
.video{
    width: 100%;
}

}
