@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

html {
    overflow-x: hidden;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: #619095;
}

.main {
    flex-grow: 1;
}

@keyframes flying {
    0% {
        bottom: -10%;
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        bottom: 100%;
        transform: translateX(-300px);
    }
}

h1 {
    text-align: center;
    color: white;
    font-family: bebas-neue, sans-serif;
    margin-top: 50px !important;
}


/* cursus*/
.courseContainer {
    justify-content: center;
}

.cursusInfo {
    max-width: 80%;
    padding: 1rem;
    color: white;
    border-width: 4px;
    margin: auto;
    border-style: solid;
    border-image: linear-gradient(
            to bottom,
            #E2ED8C,
            rgba(0, 0, 0, 0)
    ) 1 100%;
}


.infoName {
    margin: 10px;
    font-size: 2em;
}

.infoValue {
    margin: 10px;
    font-size: 1.2em;
}

.courselistitem {
    text-align: center;
    background: #E2ED8C;
    margin: 10px;
    padding: 5px 5px;
    width: 140px;
    height: 100%;
    display: inline-block;
    border: white solid 2px;
}

.courselistitem a {
    text-decoration: none;
    font-family: bebas-neue, sans-serif;
    font-size: 2em;
    color: green;
}

.edit_button {
    text-decoration: none;
    color: white;
    background-color: #ea95e8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit_button:hover {
    background-color: #d688d5;
}

.edit_button:active {
    background-color: #ca80c9;
}

.edit_button:focus {
    outline: 2px solid #e2ef8d;
}

.errorblock {
    margin-left: 25%;
    max-width: 50%;
    margin-top: 20px;
    border: 5px solid white;
}

.prevButtonDiv {
    position: absolute;
    left: 0.5%;
    top: 160px;
}

.nextButtonDiv {
    position: absolute;
    right: 5%;
    top: 160px;

}

.buttonLookFilter {
    border: #E2ED8C solid 2px;
    color: #E2ED8C;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
}

.buttonLookFilter:hover {
    background-color: #E2ED8C;
    color: white;
    box-shadow: 3px 4px 5px darkgrey;
}

.buttonLookFilter:active {
    background-color: #E2ED8C;
    color: white;
}
.buttonLook{
    text-decoration: none;
    color: white;
    background-color: #ea95e8;
    border: none;
    border-radius: 4px;
}

a.smallButton {
    display: block;
    font-size: 1em;
    padding: 0.5em;
}
a.smallButton2{
    display: block;
    font-size: 1em;
    padding: 0.5em;
    width: fit-content;
    margin-bottom: 20px;
    margin-left: 20px;
}

.containerFilter {
    margin-left: 10px;
}

.filterButton {
    margin: 20px auto;
    padding: .5em;
    font-size: medium;
    display: block;
    width: 50%;
}

.filtername {
    font-size: 1.3em;
    width: 50%;
    margin: 20px auto;
    display: block;
    color: white;
    font-family: bebas-neue, sans-serif;
    text-align: center;
}
.teacherpic{
    position: relative;
    width: 10%;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

