@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

html {
    overflow-x: hidden;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: #619095;
}

.main {
    flex-grow: 1;
}

@keyframes flying {
    0% {
        bottom: -10%;
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        bottom: 100%;
        transform: translateX(-300px);
    }
}

h1 {
    text-align: center;
    color: white;
    font-family: bebas-neue, sans-serif;
    margin-top: 50px !important;
}

h2.titleOurTeam {
    font-family: bebas-neue, sans-serif;
    color: white;
    margin-top: 50px !important;
    margin-left: 40px;
    text-decoration: underline #EB95E7;
}

/*Navigation bar*/

.nav ul {
    position: relative;
    top: 0;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
}

.nav a {
    text-decoration: none;
    color: white;
    display: block;
    font-family: bebas-neue, sans-serif;

}

/*Homepage*/
.textHomepage {
    background-color: white;
    padding: 10px;
    position: relative;
    margin: 20px;
    font-family: Consolas, monaco, monospace;
    font-weight: 500;
}

.textVision {
    color: white;
    font-family: Consolas, monaco, monospace;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.textHomepage:after {
    content: '';
    background: transparent;
    border: 1px solid white;
    top: 7px;
    right: 30%;
    bottom: -20px;
    left: -10px;
    position: absolute;
    z-index: -1;
}

.teamContainer {
    justify-content: center;
}

.teamMember {
    text-align: center;
    background: #E2ED8C;
    margin: auto;
    padding: 5px 5px;
    border: 5px solid white;
}

.teamMemberName {
    transform: rotate(-90deg);
    position: absolute;
    margin-top: 50px;
    padding-bottom: 20px;
    color: #619095;
    font-family: bebas-neue, sans-serif;
}

.memberBio {
    font-family: Consolas, monaco, monospace;

}

.imgTeam {
    width: 100%;
    margin: 10px;
}

.imgLogoPink {
    width: 15em;
}

/*Footer*/

.verticalLine {
    left: 10%;
    bottom: 0;
    position: fixed;
    height: 175px;
    width: 10px;
    background-color: green;
    border-radius: 20px 20px 0 0;
}

.verticalLine2 {
    bottom: 0;
    left: 12%;
    position: fixed;
    height: 200px;
    width: 10px;
    border-radius: 20px 20px 0 0;
    background-color: #EB95E7;
}

.verticalLine3 {
    bottom: 0;
    background-color: #364182;
    left: 14%;
    position: fixed;
    height: 140px;
    width: 10px;
    border-radius: 20px 20px 0 0;
}

/* cursus*/
.courseContainer {
    justify-content: center;

}

.cursusInfo {
    max-width: 80%;
    padding: 1rem;
    color: white;
    border-width: 4px;
    margin: auto;
    border-style: solid;
    border-image: linear-gradient(
            to bottom,
            #E2ED8C,
            rgba(0, 0, 0, 0)
    ) 1 100%;
}


.infoName {
    margin: 10px;
    font-size: 2em;
}
.infoValue{
    margin: 10px;
    font-size: 1.2em;
}
.courselistitem {
    border: 5px solid white;
    text-align: center;
    background: #E2ED8C;
    margin: 10px;
    padding: 5px 5px;
    width: 140px;
    height: 100%;
    display: inline-block;
    border-radius: 10% 0;
}

.courselistitem a {
    text-decoration: none;
    font-family: bebas-neue, sans-serif;
    font-size: 2em;
    color: green;
}

/* Footer Fragment */
footer {
    position: relative;
    bottom: -10px;
    background: #111;
    height: 100%;
    padding: 10px;
    color: #fff;
}

.footer-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.footer-content p {
    max-width: 500px;
    margin: 5px auto;
    line-height: 15px;
    font-size: 12px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li {
    margin-right: 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}



