<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stylesheet.css}"
          href="../static/css/stylesheet.css"/>

    <title>afsprakenNew</title>
</head>
<body>
<!--<div th:replace="fragments/header :: header">Header</div>-->

<form th:object="${afspraak}" th:action="@{/afspraaknew}" method="post">
    <div class="afspraakinfo">

<!--        <div>-->
<!--            <label for="afspraakId" class="grootheid">afspraakid </label>-->
<!--            <input id="afspraakId" th:field="*{id}" class="infoLineValue">-->
<!--        </div>-->
        <div>
            <label for="date" class="grootheid">datum <i>(yyyy-mm-dd)</i>: </label>
            <input id="date" th:field="*{datum}" class="infoLineValue">
        </div>

        <div>
            <label for="startUur" class="grootheid">startuur : </label>
            <input id="startUur" th:field="*{startUur}" class="infoLineValue">

        </div>
        <div>
            <label for="eindUur" class="grootheid">eindUur: </label>
            <input id="eindUur" th:field="*{eindUur}" class="infoLineValue">

        </div>
        <div>
            <label for="naam" class="grootheid">naam: </label>
            <input id="naam" th:field="*{naam}" class="infoLineValue">

        </div>


        <div>
            <a th:href="@{/home}" class="cancelButton">cancel</a>
            <input type="submit" value="save" class="editButton">
        </div>
    </div>

</form>
</body>
</html>