<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stylesheet.css}" href="../static/css/stylesheet.css"/>
    <link rel='stylesheet' type='text/css' href='fullcalendar.css' />
    <script type='text/javascript' src='jquery.js'></script>
    <script type='text/javascript' src='fullcalendar.js'></script>
    <script>$(function() {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            // put your options and callbacks here
        })

    });</script>

    <title>Title</title>
</head>
<body>
<!--<div th:replace="fragments/header :: header">Header</div>-->
<div id='calendar'></div>





</body>
</html>