<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/stylesheet.css}" href="/css/stylesheet.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
    <title>Cursussen</title>

</head>
<body>
<div th:replace="fragments/header::background"></div>
<h1>ONZE CURSUSSEN</h1>
<div class="row">
    <div class="courseContainer">
        <div class="courselistitem" th:each="course: ${courses}">
            <a th:href="@{|/coursedetails/${course.id}|}" th:text="${course.name}">Cursus naam </a>
            <br>
            <a th:text="${course.shortdescription}">Cursus naam</a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
<style>
    body {
        background: #619095;
    }
</style>
</html>