<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/stylesheet.css}" href="/css/stylesheet.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
    <title>Cursussen</title>

</head>
<body class="body">
<div class="main">
    <div th:replace="fragments/header"></div>
    <h1>ONZE CURSUSSEN</h1>
    <div class="container">
    <div class="row">

        <div sec:authorize="hasAuthority('ADMIN')">
            <a class="edit_button" th:href="@{|/newcourse|}">NIEUWE CURSUS</a>
        </div>
        <div class="col-lg-2 containerFilter">
            <div class="filtername">Workshop door LMTS?</div>
            <a class="buttonLookFilter filterButton" th:classappend="(${filterWorkshop}==null) ? 'activeFilter' : ''"
               th:href="@{/courselist}">Toon alles</a>
            <a class="buttonLookFilter filterButton" th:classappend="(${filterWorkshop}=='yes') ? 'activeFilter' : ''"
               th:href="@{/courselist/workshop/yes}">Ja</a>
            <a class="buttonLookFilter filterButton" th:classappend="(${filterWorkshop}=='no') ? 'activeFilter' : ''"
               th:href="@{/courselist/workshop/no}">Nee</a>
        </div>
        <div class="col-lg-9">
            <div class="courseContainer row">
                <div class="courselistitem col-12 col-sm-3" th:each="course: ${courses}">
                    <a th:href="@{|/coursedetails/${course.id}|}" th:text="${course.name}">Cursus naam </a>
                    <br>
                    <p th:text="${course.shortdescription}">Cursus naam</p>
                </div>
            </div>
        </div>
        <h1>ONZE CURSUSSEN</h1>
        <div class="col-lg-9">
            <div class="courseContainer row">
                <div class="courselistitem col-12 col-sm-3" th:each="course: ${workshops}">
                    <a th:href="@{|/coursedetails/${course.id}|}" th:text="${course.name}">Cursus naam </a>
                    <br>
                    <p th:text="${course.shortdescription}">Cursus naam</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<div th:replace="fragments/footer"></div>
</body>
</html>