<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/stylesheet.css}" href="/css/stylesheet.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
    <title>Cursussen</title>

</head>
<body class="body">
<div class="main">
    <div th:replace="fragments/header"></div>
    <h1>ONZE CURSUSSEN</h1>
    <div sec:authorize="hasAuthority('ADMIN')">
        <a class ="edit_button" th:href="@{|/newcourse|}">NIEUWE CURSUS</a>
    </div>
    <div class="courseContainer row">
        <div class="courselistitem col-3" th:each="course: ${courses}">
            <a th:href="@{|/coursedetails/${course.id}|}" th:text="${course.name}">Cursus naam </a>
            <br>
            <p th:text="${course.shortdescription}">Cursus naam</p>
        </div>
    </div>
</div>


<div th:replace="fragments/footer"></div>
</body>
</html>