<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
    <title>Cursus</title>
</head>
<body class="body">
<div th:replace="fragments/header"></div>
<div class="main">
    <div th:if="${course}">
        <div class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/coursedetails/${course.id}/prev|}">&lt;</a>
        </div>
        <div class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/coursedetails/${course.id}/next|}">&gt;</a>
        </div>
        <h2 class="titleOurTeam" th:text="${course.getName}">course name</h2>
        <div class="cursusInfo">
            <div sec:authorize="hasAuthority('ADMIN')">
                <a class="edit_button" th:href="@{|/editcourse/*{id}|}">EDIT</a>
            </div>
            <div>
                <div class="infoName"><b>Leerkracht:</b></div>
                <div th:if="${course.getTeacher().isEmpty()}">
                    <div class="infoValue">
                        <p>LMTS Academy</p>
                    </div>
                </div>
                <div th:each="teacher: ${course.getTeacher()}">

                    <a class="buttonLook smallButton2"
                       th:href="@{|/teacherdetails/${teacher.id}|}">
                        <div th:text="${teacher.getName}">teacher</div>
                    </a>
                </div>
            </div>
            <div>
                <div class="infoName"><b>Omschrijving:</b></div>
                <div class="infoValue" th:each="descriptionPart: ${course.description.split('\\n')} "
                     th:text="${descriptionPart}">description
                </div>
            </div>
            <div>
                <div class="infoName"><b>Bedrijf:</b></div>
                <div th:if="${course.getCompany().isEmpty()}">
                    <div class="infoValue">
                        <p>LMTS Academy</p>
                    </div>
                </div>
                <div th:each="company: ${course.getCompany()}">

                    <a class="buttonLook smallButton2"
                       th:href="@{|/companydetails/${company.id}|}">
                        <div th:text="${company.getName}">company</div>
                    </a>
                </div>
            </div>
            <div>
                <div class="infoName"><b>Locatie:</b></div>
                <div class="infoValue" th:text="${course.getLocation()}">location</div>
            </div>
        </div>

    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
<style>
    body {
        background: #619095;
    }
</style>
</html>