<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stylesheet.css}" href="../static/css/stylesheet.css"/>

    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/eventbooking.css}" href="/css/eventbooking.css"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stylesheet.css}" href="../static/css/stylesheet.css"/>

    <title>Afsprakenlijst</title>
</head>
<body class="body">
<div th:replace="fragments/header"></div>

<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="py-3 text-center font-bold font-up success-text">Afsprakenlijst</h2>
            </div>

        </div>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Titel</th>
                <th>start</th>
                <th>einde</th>
                <th>omschrijving</th>

            </tr>
            </thead>
            <tbody>
            <tr class="table-success" th:each="b: ${eventlist}">
                <td th:text="${b.id}"></td>
                <td th:text="${b.title}"></td>
                <td th:text="${b.start}"></td>
                <td th:text="${b.finish}"></td>
                <td th:text="${b.description}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>


</body>

</html>
