<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welkom!</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/stylesheet.css}" href="/css/stylesheet.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
</head>
<body class="body">

<div th:replace="fragments/header::background"></div>

<h1>
    WELCOME TO LIMITS ACADEMY
</h1>
<h2 class="titleOurTeam">
    WIE ZIJN WIJ?
</h2>
<div class="row">
    <div class="col-8">
        <p class="textHomepage">
            LMTS ACADEMY is een academy speciaal opgericht voor mensen met een beperking.
            Het doel is om deze groep van mensen meer op het beeldscherm te krijgen, want geef nu toe,
            zij verdienen toch ook een kans om te schitter in de media sector?
        </p>
    </div>

</div>
<br>
<p class="textHomepage">
    LMTS ACADEMY biedt 3 disciplines aan: zang, dans en acteerlessen.
    Het is de bedoeling dat wanneer leden naar ons komen er een intake gesprek plaatsvindt met een coach die zal luister
    naar wat de persoon in kwestie
    graag zou willen bereiken. Meespelen in een film, een reclamespot, eventueel deelnemen aan the voice?
    Na dit gesprek zal er een persoonlijk lessenschema gemaakt worden om hen helemaal klaar te stomen en hen de juiste
    skills aan te leren.
</p>
<h2 class="titleOurTeam">
    OUR TEAM
</h2>
<div class="row teamContainer">

    <div class="col-2 teamMember">
        <h2 class="teamMemberName">
            Yanis
        </h2>
        <img class="imgTeam" th:src="@{/pictures/yanis.png}"/>
        <p class="memberBio">
            Als CEO hebben we Yanis Driege. Hij is professionele danser in zijn vrije tijd en zal in de toekomst ook
            deel uit maken van het welbekende #LikeMe
            dans-team. <br>
            Hiermee kunnen wij onze doelgroep garanderen van professionele lessen en kan Yanis uitleggen hoe castings
            voor bepaalde producties verlopen.
        </p>
    </div>
    <div class="col-2 teamMember">
        <h2 class="teamMemberName">
            Anna
        </h2>
        <img class="imgTeam" th:src="@{/pictures/anna.png}"/>
        <p class="memberBio">
            Daarnaast hebben we Anna Lambaerts. We kunnen haar de rechterhand van Yanis noemen want zij is ook
            gespecialiseerd in dans en kan dus mee inspringen bij het geven van danslessen.
            Hiernaast heeft Anna ook al enige werkervaring in een productiehuis. Zij weet perfect hoe het er allemaal
            aan toe gaat.
        </p>
    </div>
    <div class="col-2 teamMember">
        <h2 class="teamMemberName">
            Femke
        </h2>
        <img class="imgTeam" th:src="@{/pictures/femke.png}"/>

        <p class="memberBio">
            Natuurlijk zijn er ook creatievelingen nodig in een team en daarvoor hebben wij Femke Overtus. Zij beschikt
            over een secundair diploma van een kunstschool
            en en kan heel goed werken met de verschillende Adobe programma's, wat zeer relevant is voor de hele social
            media werking van onze Start-Up.
        </p>
    </div>
    <div class="col-2 teamMember">
        <h2 class="teamMemberName">
            Sharon
        </h2>
        <img class="imgTeam" th:src="@{/pictures/sharon.png}"/>
        <p class="memberBio">
            Als laatste teamlid hebben we Sharon Debremaeker. Zij is afgestudeerd in de richting Handel. Dat betekent
            dat Sharon alle kneepjes van het vak kent als het over
            boekhouden gaat, een belangrijk elemenet binnen een Start-Up. Daarnaast is ze ook professioneel fotografe in
            haar vrije tijd.
        </p>
    </div>
</div>
<h2 class="titleOurTeam">
    VISIE
</h2>
<div class="row">
    <div class="col-9">
    <p class="textVision">
        LMTS ACADEMY wil door het geven van kwalitatieve opleiding in podium en een persoonlijke begeleiding als eerste
        organisatie in Vlaanderen ervoor zorgen dat mensen
        met beperking meer op televisie komen. Er zal samengewerkt worden met productiehuizen zodat de LMTS artiesten
        eenvoudig doorgestuurd kunnen worden naar de juiste productie.
    </p>
    </div>
    <div class="col-3">
        <img class="imgLogoPink" th:src="@{/pictures/LMTS-roos.png}"/>
    </div>
</div>


<div th:replace="fragments/footer::footer"></div>
</body>
</html>