<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Profiel</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/profile.css}">
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
</head>
<body>
<div th:replace="fragments/header"></div>
<div id="content">
    <div class="profile-container">
        <h1 class="title">Profiel</h1>
        <div class="profile-details">
            <section class="profile-details-main">
                <h2 class="section-title">Hoofdinformatie</h2>
                <div class="profile-details-content">
                    <div class="profile-data">
                        <p class="profile-data-name">Email:</p>
                        <p class="profile-data-value" th:text="${profile.user.email}"></p>
                    </div>
                    <div class="profile-data">
                        <p class="profile-data-name">GSM-nummer:</p>
                        <p class="profile-data-value" th:text="${profile.phoneNumber}"></p>
                    </div>
                    <div class="profile-data">
                        <p class="profile-data-name">Voornaam:</p>
                        <p class="profile-data-value" th:text="${profile.firstName}"></p>
                    </div>
                    <div class="profile-data">
                        <p class="profile-data-name">Achternaam:</p>
                        <p class="profile-data-value" th:text="${profile.lastName}"></p>
                    </div>
                </div>
            </section>
            <section class="profile-details-extra">
                <h2 class="section-title">Extra</h2>
                <div class="profile-details-content">
                    <div class="profile-data">
                        <p class="profile-data-name">Stad:</p>
                        <p class="profile-data-value" th:text="${profile.city}"></p>
                    </div>
                    <div class="profile-data">
                        <p class="profile-data-name">Provincie:</p>
                        <p class="profile-data-value" th:text="${profile.province}"></p>
                    </div>
                    <div class="profile-data">
                        <p class="profile-data-name">Geboortedatum:</p>
                        <p class="profile-data-value" th:text="${profile.birthday}"></p>
                    </div>
                    <div class="profile-data">
                        <p class="profile-data-name">Ervaring:</p>
                        <p class="profile-data-value" th:text="${profile.experience}"></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>