<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Profiel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/profile.css}">
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
</head>
<body>
<div th:replace="fragments/header"></div>
<div id="content">
    <div class="profile-container">
        <h1 class="title">Profiel</h1>
        <div class="profile-details">
            <div class="profile-details-entry profile-picture-container">
                <div class="profile-picture">
                    <img th:if="${profile.getPathToProfilePicture != null}" class="profile-picture"
                         th:src="@{|https://testing73819826474.s3.us-west-002.backblazeb2.com/${profile.getPathToProfilePicture()}|}"
                         alt="Profile Picture">
                    <p th:unless="${profile.getPathToProfilePicture != null}" class="profile-picture"
                       th:text="${(profile.getFirstName()?.length() > 0 ? profile.getFirstName().substring(0, 1) : '?') + (profile.getLastName()?.length() > 0 ? profile.getLastName().substring(0, 1) : '?')}"></p>
                </div>
            </div>
            <div class="profile-details-entry text padding-top">
                <section>
                    <h2 class="section-title">Gegevens</h2>
                    <div class="profile-details-content">
                        <div class="profile-data">
                            <p class="profile-data-name">Voornaam:</p>
                            <p class="profile-data-value" th:text="${profile.firstName}"></p>
                        </div>
                        <div class="profile-data">
                            <p class="profile-data-name">Achternaam:</p>
                            <p class="profile-data-value" th:text="${profile.lastName}"></p>
                        </div>
                        <div class="profile-data">
                            <p class="profile-data-name">Email:</p>
                            <p class="profile-data-value" th:text="${profile.user.email}"></p>
                        </div>
                        <div class="profile-data">
                            <p class="profile-data-name">GSM-nummer:</p>
                            <p class="profile-data-value" th:text="${profile.phoneNumber}"></p>
                        </div>
                    </div>
                </section>
                <section>
                    <h2 class="section-title">Extra</h2>
                    <div class="profile-details-content">
                        <div class="profile-data">
                            <p class="profile-data-name">Stad:</p>
                            <p class="profile-data-value" th:text="${profile.city}"></p>
                        </div>
                        <div class="profile-data">
                            <p class="profile-data-name">Provincie:</p>
                            <p class="profile-data-value" th:text="${profile.province}"></p>
                        </div>
                        <div class="profile-data">
                            <p class="profile-data-name">Geboortedatum:</p>
                            <p class="profile-data-value" th:text="${profile.birthday}"></p>
                        </div>
                        <div class="profile-data">
                            <p class="profile-data-name">Ervaring:</p>
                            <p class="profile-data-value" th:text="${profile.experience}"></p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="profile-details-entry button-container">
                <a class="button" sec:authorize="!hasAuthority('ADMIN')" th:href="@{|/profile/edit|}">Gegevens
                    aanpassen</a>
                <a class="button" sec:authorize="hasAuthority('ADMIN')"
                   th:href="@{|/admin/profile/${profile.id}/edit|}">Gegevens aanpassen</a>
                <form method="post" id="toggle-enabled-form" th:action="@{|/admin/profile/${profile.id}/toggleenabled|}"
                      class="hidden"></form>
                <input class="button toggle-enabled-button" sec:authorize="hasAuthority('ADMIN')"
                       th:value="${profile.user.enabled ? 'Uitschakelen' : 'Inschakelen'}"
                       th:classappend="${profile.user.enabled ? 'disable' : 'enable'}"
                       form="toggle-enabled-form"
                       type="submit">
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer"></div>
</body>
</html>