<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Profiel</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/myProfile.css}"/>
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/ssa0ifx.css">
</head>
<body class="body">
<div class="main">
    <div th:replace="fragments/header"></div>
    <div th:replace="fragments/bubbles"></div>
    <h1>My Profile</h1>
    <div class="row justify-content-center" th:if="${profile}">
        <div class="col-4 myProfileBasics">
            <h2 class="h2Profile">Basis informatie</h2>
            <div class="form-group row ">
                <div class="col-4 col-form-label">Voornaam:</div>
                <div class="col-8">
                    <div th:text="${profile.getFirstName()}">firstname</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 col-form-label">Achternaam:</div>
                <div class="col-8">
                    <div th:text="${profile.getLastName()}">lastname</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 col-form-label">GSM-nummer:</div>
                <div class="col-8">
                    <div th:text="${profile.getPhoneNumber()}">phone</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 col-form-label">Ervaring:</div>
                <div class="col-8">
                    <div th:text="${profile.getExperience()}">experience</div>
                </div>
            </div>
        </div>
        <div class="col-7 myProfileBasics">

            <h2 class="h2Profile">Extra informatie</h2>
            <div class="form-group row ">
                <div class="col-4 col-form-label">Stad:</div>
                <div class="col-8">
                    <div th:text="${profile.getCity()}">city</div>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-4 col-form-label">Provincie:</div>
                <div class="col-8">
                    <div th:text="${profile.getProvince()}">province</div>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-4 col-form-label">Verjaardag:</div>
                <div class="col-8">
                    <div th:text="${profile.getBirthday()}">birthday</div>
                </div>
            </div>
            <a sec:authorize="!hasAuthority('ADMIN')" th:href="@{|/profile/edit|}" type="button" class="editProfile_button">Aanpassen</a>
            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{|/admin/profile/${profile.id}/edit|}" type="button" class="editProfile_button">Aanpassen</a>
        </div>
    </div>
</div>
</body>
</html>